@import 'mixin';

a {
    text-decoration: none;
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

body {
    margin: 0;
}

main {
    @include content-centering;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #F9F4EF;
    margin: 0;
    transition: box-shadow 0.3s;

    &.scrolling {
        box-shadow: #aaa 0px 1px 10px;
        transition: box-shadow 0.3s;
    }
}


nav {
    @include content-centering;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;

    @include mq('sp') {
        font-size: 1rem;
    }

    padding: 0.6em 0;
    text-align: center;

    a {
        padding: 0.1em 0.2em;
        color: #020826;
        border-bottom: solid 2px;
        border-bottom-color: transparent;
        transition: border-bottom-color 0.3s;

        &:hover {
            border-bottom-color: #020826;
            transition: border-bottom 0.3s;
        }
    }
}

footer {
    @include content-centering;

    p {
        margin-top: 2em;
        margin-bottom: 1em;
    }
}

section {
    padding: 2rem 0 0 0;

    h2 {
        margin: 0.8em 0;
    }

    p {
        margin: 0;
    }
}