.default-color {
    background-color: #F9F4EF;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #020826;
    }

    p, li {
        color: #716040;
    }

    li {
        list-style-type: square;
    }
}
