@import "mixin";

.topname {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0 2rem 0;

    @include mq('tab') {
        padding: 2rem 0 2rem 0;
    }

    @include mq('sp') {
        padding: 1rem 0 1rem 0;
    }

    div {
        margin: 12px;
    }

    h1 {
        font-size: 4rem;
        margin: 0 auto;
    }

    p {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 auto;
    }
}


.works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mq('tab') {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq('sp') {
        grid-template-columns: repeat(1, 1fr);
    }

    grid-template-rows: auto;
    grid-gap: 36px;

    .work {
        @include shadow;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
        background-color: white;
        padding: 8%;

        img {
            width: 100%;
            object-fit: cover;
        }

        h3 {
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
}


.img-wrapper-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 12px;
    border-radius: 50%;
    @include shadow;

    img {
        height: 220px;
        width: 220px;
        border-radius: 50%;
        object-fit: cover;
    }
}
