<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ $scss := resources.Get "scss/style.scss" }}
    {{ $style := $scss | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <title>Nishimura's Portfolio</title>
</head>

<body class="default-color">
    <header>
        <nav>
            <a href='{{ relref . "/#home" }}'>Home</a>
            <a href='{{ relref . "/#about" }}'>About me</a>
            <a href='{{ relref . "/#works" }}'>Works</a>
            <a href='{{ relref . "/#contact" }}'>Contact</a>
        </nav>
    </header>
    {{ block "main" . }}
    {{ end }}
    <footer>
        <p>© 2022 Nishimura Yuki</p>
    </footer>
</body>

</html>
