{{ define "main" }}
    <main>
        <section id="home" class="topname">
            <div class="img-wrapper-circle">
                <img src="/img/icon.webp" alt="プロフィール画像">
            </div>
            <div>
                <h1>Nishimura Yuki</h1>
                <p>computer programmer</p>
            </div>
        </section>
        <section id="about">
            <h2>About me</h2>
            <p>高校生でプログラミングに出会い熱中しました。それ以降、プログラムを書き続けています。</p>
            <ul>
                <li>GitHub: <a href="https://github.com/nishi-yuki">nishi-yuki</a></li>
                <li>Zenn : <a href=https://zenn.dev/nishi>nishi</a></li>
                <li>Speaker Deck : <a href=https://speakerdeck.com/ni5h1>ni5h1</a></li>
            </ul>
        </section>
        <section id="works">
            <h2>Works</h2>
            <div id="works" class="works">
                {{ $works := where .Site.RegularPages "Section" "works" }}
                {{ range $works }}
                    <a class="work" href="{{ .RelPermalink }}">
                        <div class="work-img-wrapper">
                            {{ with .Resources.GetMatch (.Param "image") }}
                            <img src="{{ .RelPermalink }}" alt="{{ $.Title }}">
                            {{ else }}
                            <img src="/img/work.png">
                            {{ end }}
                        </div>
                        <div>
                            <h3>{{ .Title }}</h3>
                            <p>{{ .Description }}</p>
                        </div>
                    </a>
                {{ end }}
            </div>
        </section>
        <section id="contact">
            <h2>Contact</h2>
            <ul>
                <li>Email: nishiyk256@gmail.com</li>
        </section>
    </main>
{{ end }}
