{{ define "main" }}
    <main>
        <section id="home" class="topname">
            <div class="img-wrapper-circle">
                <img src="/img/icon.jpg">
            </div>
            <div>
                <h1>Nishimura Yuki</h1>
                <p>computer programmer</p>
            </div>
        </section>
        <section id="about">
            <h2>About me</h2>
            <p>高校生でプログラミングに出会い熱中してからプログラムを書き続けています。</p>
        </section>
        <section id="works">
            <h2>Works</h2>
            <div id="works" class="works">
                {{ $works := where .Site.RegularPages "Section" "works" }}
                {{ range $works }}
                    <a class="work" href="{{ .RelPermalink }}">
                        <div class="work-img-wrapper">
                            {{ with .Resources.GetMatch (.Param "image") }}
                            <img src="{{ .RelPermalink }}">
                            {{ else }}
                            <img src="/img/work.png">
                            {{ end }}
                        </div>
                        <div>
                            <h3>{{ .Title }}</h3>
                            <p>{{ .Description }}</p>
                        </div>
                    </a>
                {{ end }}
            </div>
        </section>
        <section id="contact">
            <h2>Contact</h2>
            <ul class="contacts">
                <li>GitHub: <a href="https://github.com/nishi-yuki">nishi-yuki</a></li>
                <li>Email: nishiyk256@gmail.com</li>
        </section>
    </main>
{{ end }}
